<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<link rel="stylesheet" href="__CSS__/login.css" type="text/css"/>
    <title>留言板</title>
    <script>
        window.onload = function (){
            var imgUrl = document.getElementById("codeImg");
            imgUrl.onclick = function(){
                imgUrl.src = "code";
            }
        }
    </script>
</head>

<body>
<div class="login_box">
      <div class="login_l_img"><img src="__IMG__/login-img.png" /></div>
      <div class="login">
          <div class="login_logo"><a href="#"><img src="__IMG__/login-logo.png" /></a></div>
          <div class="login_name">
               <p>留言板</p>
          </div>
          <form action="{:url('/login')}" method="post">
              <input name="username" type="text"  placeholder="用户名">
              {if condition="isset($userError)"}
                    <span style="color:#f00">{$userError}</span>
              {/if}
              <input name="password" type="password" id="password" placeholder="密码"/>
              {if condition="isset($passwordError)"}
                    <span style="color:#f00">{$passwordError}</span>
              {/if}
              <input name="code" type="text" id="code" placeholder="验证码" style="width:300px;"/>
              {if condition="isset($codeError)"}
                    <span style="color:#f00">{$codeError}</span>
              {/if}
              <img src="{:url('/code')}" id="codeImg" style="width:300px;height:50px;padding: -10px 16px;margin-bottom: 15px;vertical-align: middle;">
              <input value="登录" style="width:100%;" type="submit">
          </form>
          <a href="/gozhuce" style="font-size: 20px;float: right;">>>>注册</a>
      </div>
      <div class="copyright">小罗有限公司 版权所有©2016-2018 技术支持电话：000-00000000</div>
</div>
</body>
</html>
