<!DOCTYPE HTML>
<html lang="zh-Hans">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-title" content="I am I - 个人主页">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="author" content="I am I,QSong#xxrar.com">
	<meta name="keywords" content="I am I" />
	<meta name="description" content="">
	<link rel='stylesheet' href='__CSS__/css.css' type='text/css'/>
	<link rel='stylesheet' href='__CSS__/font-awesome.min.css' type='text/css'/>
	<link rel='stylesheet' href='__CSS__/style.css' type='text/css'/>
	<!--[if lte IE 9]><link rel="stylesheet" href="__CSS__/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="__CSS__/ie8.css" /><![endif]-->
	<link rel="shortcut icon" type="image/ico" href="__IMG__/favicon.ico">
	<title>I am I - 个人主页</title>
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__skel.min.js"></script>
	<script src="__JS__/util.js"></script>
	<script src="__JS__/respond.min.js"></script>
	<!--[if lte IE 8]><script src="__JS__/html5shiv.js"></script><![endif]-->
</head>
<body>
    <div id="wrapper">
        <article id="home" class="panel special" style="display: flex;">
            <div class="image" style="background-image: url('__IMG__/image1.jpg'); background-position: center center;">
                <img src="__IMG__/image1.jpg" alt="" data-position="center center" style="display: none;">
            </div>
            <div class="content">
                <div class="inner">
                    <header>
                        <h1>小强留言墙</h1>
                        <p><script src="https://tenapi.cn/yiyan/get/?code=js"></script></p>
                    </header>
                    <nav id="nav">
                        <ul class="actions vertical special spinY">
                            <li><a href="/login/login/my_message" class="button">关于我</a>
                            </li>
                            <li><a href="/login/login/info" class="button">留言墙</a>
                            </li>
                        </ul>
                    </nav>
                    <ul class="icons">
                        <li><a href="#" target="_blank" class="icon fa-home"><span class="label">博客</span></a>
                        </li>
                        <li><a href="#" target="_blank" class="icon fa-weibo"><span class="label">微博</span></a>
                        </li>
                        <!--li><a href="#" target="_blank" class="icon fa-github"><span class="label">GitHub</span></a>
                        </li-->
                        <li><a href="#" target="_blank" class="icon fa-envelope"><span class="label">邮件</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <footer id="footer" class="">
            <p class="copyright">&copy; 2017 — 2018 <a target="_blank" href="http://www.zcjun.com">I am i</a></p>
        </footer>
    </div>
    <!--[if lte IE 8]><![endif]-->

</body>

</html>